.step-container {
  padding-left: 1.5rem;
  padding-bottom: 2rem;

  &::before {
    content: '';
    position: absolute;
    border: 1px solid var(--ion-color-medium);
    border-left: 1px;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
}
