<ng-container *transloco="let t">
  <ion-header mode="ios">
    <ion-toolbar mode="md">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ t('videoDownloader') }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="min-h-full p-8" lines="none">
      <div class="flex items-center space-x-4">
        <div
          class="flex items-center justify-center w-12 h-12 bg-gray-700 rounded-full"
        >
          <h2 class="m-0 text-white">1</h2>
        </div>
        <div class="flex">
          <h2 class="m-0">{{ t('video.pasteUrlHint') }}</h2>
        </div>
      </div>
      <ion-item
        class="step-container"
        lines="inset"
        style="--padding-start: 3rem; --inner-padding-start: 0.5rem"
        (contextmenu)="presentContextMenu($event)"
      >
        <ion-input [(ngModel)]="url" [placeholder]="t('video.url')"></ion-input>
      </ion-item>

      <div class="flex items-center space-x-4">
        <div
          class="flex items-center justify-center w-12 h-12 bg-gray-700 rounded-full"
        >
          <h2 class="m-0 text-white">2</h2>
        </div>
        <div class="flex">
          <h2 class="m-0">{{ t('video.download.title') }}</h2>
        </div>
      </div>

      <ion-item class="step-container">
        <div class="flex flex-col pl-8">
          <div>
            <p>{{ t('video.destination') }}: {{ outputDirectory }}</p>
            <ion-button
              class="mb-4"
              color="secondary"
              expand="block"
              size="default"
              (click)="changeOutoutDirectory()"
            >
              {{ t('video.edit') }}
            </ion-button>
          </div>

          <div class="flex flex-col max-w-content">
            <ion-button
              expand="block"
              size="default"
              (click)="downloadAll()"
              [disabled]="(isDownloading$ | async) || !url"
            >
              {{ t('video.download.all') }}
            </ion-button>

            <ion-button
              expand="block"
              size="default"
              (click)="downloadVideo()"
              [disabled]="(isDownloading$ | async) || !url"
            >
              {{ t('video.download.video') }}
            </ion-button>

            <ion-button
              expand="block"
              size="default"
              (click)="downloadSubtitle()"
              [disabled]="(isDownloading$ | async) || !url"
            >
              {{ t('video.download.subtitle') }}
            </ion-button>
          </div>
        </div>
      </ion-item>

      <div class="flex items-center space-x-4">
        <div
          class="flex items-center justify-center w-12 h-12 bg-gray-700 rounded-full"
        >
          <h2 class="m-0 text-white">3</h2>
        </div>
        <div class="flex">
          <h2 class="m-0">{{ t('video.downloading') }}</h2>
        </div>
      </div>

      <ion-item class="step-container">
        <div
          class="flex flex-col pl-8"
          *ngIf="spawnOutput$ | async as spawnOutput"
        >
          <pre class="truncate">{{ spawnOutput }}</pre>
          <ion-button
            class="max-w-content"
            color="danger"
            expand="block"
            size="default"
            (click)="cancelDownload()"
          >
            {{ t('video.download.cancel') }}
          </ion-button>
        </div>
      </ion-item>

      <div class="flex items-center space-x-4">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-full"
          style="background: var(--ion-color-success)"
        >
          <ion-icon class="w-6 h-6 text-white" name="checkmark"></ion-icon>
        </div>
        <div class="flex">
          <h2 class="m-0">{{ t('video.done') }}</h2>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ng-container>
